.wrapper {
}

.header {
  padding: 10vh 5vw 0;
  min-height: 100vh;
  max-width: 49em;
}

.hello {
  font-size: 4.5em;
  font-weight: 500;
}

.name {
  font-weight: 500;
  font-size: 2.2em;
  padding: 1em 0 1em;
}

.intro {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 1em;
}

.socialAccount {
  margin: 2em 0;
  position: relative;
}

.title {
  display: inline-block;
  font-size: 1.4em;
  position: relative;
  z-index: 1;
}

.title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  background-color: rgba(79,192,141,0.5);
}

.section {
  padding: 3em 5vw;
  background: #f9f9f9;
  min-height: 100vh;
  font-size: 1.2em;
  font-weight: 300;
  box-sizing: border-box;
}

.desc {
  list-style: disc;
  padding: 0;
}

.desc li {
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.descImg {
  float: right;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  box-shadow: 5px 5px 0px #fff;
  margin: 2em 0em 1em 1em;
}

.resumeArrow {
  position: absolute;
  top: 0px;
  left: 146px;
  pointer-events: none;
}

.project {
  max-width: 50em;
}

.clear {
  clear: both;
}