.wrapper {
  padding: 0 5vw;
  max-width: 50em;
}

.header {
  padding-top: 10vh;
}

.hello {
  font-size: 4.5em;
  font-weight: 500;
}

.name {
  font-weight: 500;
  font-size: 2.2em;
  padding: 1em 0 1em;
}

.intro {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 1em;
}

.socialAccount {
  margin-bottom: 2em;
  position: relative;
}

.title {
  display: inline-block;
  font-size: 1.4em;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  background-color: rgba(79,192,141,0.5);
}

.subtitle {
  font-weight: 500;
}

.desc {
  list-style: disc;
  padding: 0;
}

.desc li {
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.descImg {
  float: right;
  border: 1px solid #333;
  border-radius: 7px;
  box-shadow: 3px 3px 0px #333;
  margin: 2em 0em 0.5em 0.5em;
}

.resumeArrow {
  position: absolute;
  top: 0px;
  left: 146px;
  pointer-events: none;
}